---
import Button from "../components/Button.astro";
import aribnb from "../images/airbnblogo.svg";
import hubspot from "../images/hubspotlogo.svg";
import microsoft from "../images/microsoftlogo.svg";
import google from "../images/googlelogo.svg";
import lawyer from "../images/Laywer.png";
import circles from "../images/cirlcles.svg";
import Card from "../components/Card.astro";
---

<section>
  <div class="container">
    <div class="info">
      <p>
        <span>New</span>
        <span>Stay connected to the upcoming & Recent jobs</span>
      </p>

      <h1>Your Solution <br /> Legal Consultacy</h1>

      <p>
        We are here to help you take care of your legality with the best service
        especially for you.
      </p>

      <Button>GET STARTED</Button>

      <p>Trusted by 10+ companies in Moldova</p>

      <div class="companies">
        <img src={aribnb} alt="airbnb" />
        <img src={hubspot} alt="hubspot" />
        <img src={microsoft} alt="microsoft" />
        <img src={google} alt="google" />
      </div>
    </div>

    <div class="lawyer">
      <img src={circles} alt="circles" />
      <img src={lawyer} alt="lawyer" />
      <div>
        <Card title="Tiara Adini" description="Lawyer" align="center" />
      </div>
    </div>
  </div>
</section>

<style lang="scss" scoped>
  section {
    padding-top: 100px;

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .info {
    p:first-child {
      background-color: $bg-color-light;
      border-radius: $border-radius-pill;
      padding: 6px;

      font-family: Plus Jakarta Sans;
      font-size: 14px;

      span:first-child {
        background-color: $bg-color;
        color: $text-color-white;
        border-radius: $border-radius-pill;
        padding: 4px 16px;
        margin-right: 10px;
      }
    }
    p:nth-of-type(2) {
      font-family: Plus Jakarta Sans;
      font-size: 14px;
      color: $text-color-medium;

      margin: 42px 0;
    }
    p:nth-last-of-type(1) {
      font-family: Plus Jakarta Sans;
      font-size: 22px;
      line-height: 31px;

      margin: 115px 0 34px;
    }

    h1 {
      width: 130%;
      margin-top: 16px;

      font-family: Playfair Display;
      font-size: 90px;
      font-weight: 700;
      line-height: 108px;
      color: $text-color-blue;
    }

    .companies {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;

      margin-bottom: 46px;
    }
  }

  .lawyer {
    position: relative;
    height: 100%;

    div {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 380px;
      margin: 0 auto;

      position: absolute;
      bottom: -30px;
      left: calc(50% - 190px);
    }

    img {
      position: absolute;
      height: 100%;

      &:nth-of-type(2) {
        width: 100%;
        object-fit: cover;
      }
    }
  }
</style>
